cluster_name: rhapso-ray-fusion-cluster-sean-2
max_workers: 40
min_workers: 40

provider:
  type: aws
  region: us-west-2
  availability_zone: us-west-2a
  cache_stopped_nodes: False

auth:
  ssh_user: ubuntu
  ssh_private_key: /Users/seanfite/Desktop/AllenInstitute/Rhapso/Auth/AWS/EC2-SSH-Key/sean-rhapso.pem

available_node_types:
  ray.head.default:
    node_config:
      InstanceType: r5.4xlarge
      ImageId: ami-0ec1bf4a8f92e7bd1
      KeyName: sean-rhapso
      IamInstanceProfile:
        Name: RhapsoInstanceProfile
      TagSpecifications:
        - ResourceType: instance
          Tags:
            - Key: project
              Value: rhapso

  ray.worker.default:
    node_config:
      InstanceType: r5.4xlarge
      ImageId: ami-0ec1bf4a8f92e7bd1 
      KeyName: sean-rhapso
      IamInstanceProfile:
        Name: RhapsoInstanceProfile
      TagSpecifications:
        - ResourceType: instance
          Tags:
            - Key: project
              Value: rhapso

head_node_type: ray.head.default

setup_commands:
  - sudo apt-get update -y 
  - sudo DEBIAN_FRONTEND=noninteractive apt install -y python3-pip 
  - sudo python3 -m pip install awscli
  - sudo python3 -m pip install "ray[default]==2.9.1"  
  - sudo python3 -m pip install protobuf==4.23.4 
  - sudo -E python3 -m pip install --no-cache-dir torch --index-url https://download.pytorch.org/whl/cpu
  - aws s3 cp s3://rhapso-whl-v2/Rhapso-0.1.8-py3-none-any.whl /tmp/Rhapso-0.1.8-py3-none-any.whl  
  - echo 'export PATH=$HOME/.local/bin:$PATH' >> ~/.bashrc
  - source ~/.bashrc
  - pip install --force-reinstall /tmp/Rhapso-0.1.8-py3-none-any.whl 

head_start_ray_commands:
  - ray stop
  - ray start --head --port=6379 --dashboard-host=0.0.0.0 --autoscaling-config=~/ray_bootstrap_config.yaml 
  - python3 -m Rhapso.fusion.worker

worker_start_ray_commands:
  - ray stop
  - ray start --address=$RAY_HEAD_IP:6379

# SETUP
# ---------------------
# CREATE WHL FILE
# python setup.py bdist_wheel 

# RAY UP / DOWN / CLEAR CACHE COMMANDS
# ray up fusion_cluster_sean.yml --no-config-cache
# ray down fusion_cluster_sean.yml
# rm -rf ~/.cache/ray

# ACCESS RAY DASHBOARD
# ssh -i /Users/seanfite/Desktop/AllenInstitute/Rhapso/Auth/AWS/EC2-SSH-Key/sean-rhapso.pem -L 8265:localhost:8265 ubuntu@35.92.69.149
# http://localhost:8265

# TO FIX
# ---------------------
# awscli 1.40.25 requires botocore==1.38.26, but you have botocore 1.35.93 which is incompatible
# awscli 1.40.25 requires s3transfer<0.14.0,>=0.13.0, but you have s3transfer 0.10.4 which is incompatible 