cluster_name: create-any-name         # Update with any cluster name
max_workers: 5
min_workers: 5

provider:
  type: aws
  region: us-west-2
  availability_zone: us-west-2a
  cache_stopped_nodes: False

auth:
  ssh_user: ubuntu
  ssh_private_key: /Path/To/Your/Auth/AWS/EC2-SSH-Key/ec2-ssh-key.pem   # Update this with your local path

available_node_types:
  ray.head.default:
    node_config:
      InstanceType: r5.4xlarge
      ImageId: ami-0ec1bf4a8f92e7bd1
      KeyName: your-key-name                      # Update this with your auth key name
      IamInstanceProfile:
        Name: your-iam-instance-profile-name      # Update this with your iam instance profile name   
      TagSpecifications:
        - ResourceType: instance
          Tags:
            - Key: key                            # Update this with your resource tag key
              Value: value                        # Update this with your resource tag value

  ray.worker.default:
    node_config:
      InstanceType: r5.4xlarge
      ImageId: ami-0ec1bf4a8f92e7bd1 
      KeyName: your-key-name                      # Update this with your auth key name (same as above)
      IamInstanceProfile:
        Name: your-iam-instance-profile-name      # Update this with your iam instance profile name  (same as above)
      TagSpecifications:
        - ResourceType: instance
          Tags:
            - Key: key                            # Update this with your resource tag key
              Value: value                        # Update this with your resource tag value

head_node_type: ray.head.default

setup_commands:
  - sudo sed -i -e 's|http://archive.ubuntu.com/ubuntu|https://us-west-2.ec2.archive.ubuntu.com/ubuntu|g' -e 's|http://security.ubuntu.com/ubuntu|https://us-west-2.ec2.archive.ubuntu.com/ubuntu|g' /etc/apt/sources.list
  - sudo rm -rf /var/lib/apt/lists/* && sudo mkdir -p /var/lib/apt/lists/partial
  - sudo apt-get -o Acquire::ForceIPv4=true -o Acquire::Retries=5 update -y
  - sudo DEBIAN_FRONTEND=noninteractive apt install -y python3-pip 
  - sudo python3 -m pip install awscli
  - sudo python3 -m pip install "ray[default]==2.9.1"  
  - sudo python3 -m pip install protobuf==4.23.4 
    # Update this line to point to your whl file (s3://rhapso-whl-v2/Rhapso-0.1.8-py3-none-any.whl)
  - aws s3 cp s3://rhapso-whl-v2/Rhapso-0.1.8-py3-none-any.whl /tmp/Rhapso-0.1.8-py3-none-any.whl  
  - echo 'export PATH=$HOME/.local/bin:$PATH' >> ~/.bashrc
  - source ~/.bashrc
  - pip install /tmp/Rhapso-0.1.8-py3-none-any.whl   # ensure this whl version number matches the one above 

head_start_ray_commands:
  - ray stop
  - ray start --head --port=6379 --dashboard-host=0.0.0.0 --autoscaling-config=~/ray_bootstrap_config.yaml 

worker_start_ray_commands:
  - ray stop
  - ray start --address=$RAY_HEAD_IP:6379

# SETUP
# ---------------------
# CREATE WHL FILE
# python setup.py bdist_wheel 

# RAY UP / DOWN / CLEAR CACHE COMMANDS
# ray up your-cluster-name.yml --no-config-cache
# ray down your-cluster-name.yml
# rm -rf ~/.cache/ray

# ACCESS RAY DASHBOARD
# ssh -i /Path/To/Your/Auth/AWS/EC2-SSH-Key/ec2-ssh-key.pem -L your-port-num:localhost:your-port-num ubuntu@head.node.public.ip
# http://localhost:your-port-number