name: Run Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest 
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.8' 

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate  # For Windows, use `venv\Scripts\activate`
        pip install -r requirements.txt  # Make sure you have a requirements.txt or install dependencies

    - name: Run tests
      run: |
        source venv/bin/activate  # For Windows, use `venv\Scripts\activate`
        python -m unittest discover  # Or whatever command you use to run tests
